/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4; /* #A7A7A7 */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.flat-button{
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: none;
  background: #0099CC;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  box-shadow: none;
}

.h60px{
    height:60px;
}

.h100px{
    height:100px;
    font-size: 22px;
}

.h150px{
    height:150px;
    font-size: 22px;
}

.h175px{
    height:175px;
    font-size: 50px;
}

.h250px{
    height:250px;
    font-size: 50px;
}


.lgrey{
    background-color: #e6e6e8; /*#f2efe8; /*#E4E4E4;*/
}

.lblue{
    background-color: #E0FFFF;      
}

.blue{
    background-color:#0099CC;
}

.dblue{
    background-color: #003366;
}

.slick-div{
    width: 90%;
    background-color: #FFFFFF;
    position: absolute;
    margin: auto;
    padding: 10px;
    top: 10%;

}
.slick-div h1 {
    text-align: center;
    font-size: 35px;
    color: #003366;
}

.slick-div td {
    text-transform: capitalize;
    font-size: 25px;
    color: #003366;
}



footer {
    line-height: 100px;
    position: fixed;
    bottom:0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 150px;
    text-align: center; 
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    header{
        background-color: #0099CC;
    }

    #Home {
        text-align: center;
        position:absolute;             /* position in the center of the screen */
        top: 15%;
        width: 100%;
        height: 100%;
    }
}

#errorbox label {
    text-align: center;
    font-size: 35px;
}

.input-form {
    text-align: center;
    width: 100%;
}

.input-form input.w80per {
    width: 80%;
    margin-top: 10px;
    font-size: 35px;
}

.input-form input.w100per{
    width:100%;
    margin-top: 10px;
    font-size: 35px;
    padding-top: 10px;
}

.Home {
    text-align: center;
    position:absolute;             /* position in the center of the screen */
    top:25%;
}

.Home h2{
    text-align: center;
    color: #003366;
    font-size: 35px;
}

.Home h3{
    text-align: center;
    color: #003366;
    font-size: 25px;
}

.Home h4{
    text-align: left;
    color: #003366;
    font-size: 35px;
}

header h1{
    position: initial;
    z-index: 9;
    margin: 0;
    font-size: 70px;
    color:white;
    background-color:#0099CC;
    padding: 10px;
    text-align: center;
}

.round-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    overflow:hidden;
    clip:rect(0px,200px,200px,0px);
}

.dialog {
    position:absolute;
    margin: -150px 0 0 -250px;;
    top: 50%;
    left: 50%;
    width: 500px;
    height:300px;
    background:#0099CC;
    border: 1px #E0FFFF;
    z-index: 12;
}

.inline {
    display: inline-block;
    width: auto;
    margin: 45px;
    text-align: center;
}

.dialog figcaption {
    color: #FFFFFF;
    font-size: 35px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.hidden {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
