/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file excepx in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4; /* #A7A7A7 */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    height:100%;
    margin:0pt;
    padding:0pt;
    text-transform:uppercase;
    width:100%;
}

.flat-button{
    width: 100%;
    padding-top: 7pt;
    padding-bottom: 7pt;
    color: white;
    text-align: center;
    background: #0099CC;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0pt !important;
}

.h60pt{
    height:60pt;
}

.h100pt{
    height:100pt;
    font-size: 22pt;
}

.h150pt{
    height:150pt;
    font-size: 22pt;
}

.h175pt{
    height:175pt;
    font-size: 50pt;
}

.h250pt{
    height:250pt;
    font-size: 50pt;
}


.lgrey{
    background-color: #e6e6e8; /*#f2efe8; /*#E4E4E4;*/
}

.lblue{
    background-color: #E0FFFF;
}

.blue{
    background-color:#0099CC;
}

.dblue{
    background-color: #003366;
}

.slick-div{
    width: 90%;
    background-color: #FFFFFF;
    position: absolute;
    margin: auto;
    padding: 10pt;
    top: 10%;

}
.slick-div h1 {
    text-align: center;
    font-size: 1.5em;
    color: #003366;
}

.slick-div td {
    text-transform: capitalize;
    font-size: 1em;
    color: #003366;
}

.editable-slide{
    width: 90%;
    position: absolute;
    margin: auto;
    padding: 10pt;
    top: 10%;

}
.editable-slide h1 {
    text-align: center;
    font-size: 35pt;
    color: #003366;
}

.editable-slide td {
    text-transform: capitalize;
    font-size: 2em;
    color: #003366;
}



footer {
    line-height: 100pt;
    position: fixed;
    bottom:0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    header{
        background-color: #0099CC;
    }

    #Home {
        text-align: center;
        position:absolute;             /* position in the center of the screen */
        top: 15%;
        width: 100%;
        height: 100%;
    }
}

@viewport
{
    width:320px;
}

@-ms-viewport {
    width:320px;
    zoom-user:fixed;
    max-zoom:1;
    min-zoom:1;
}

#errorbox label {
    text-align: center;
    font-size: 2em;
}

.input-form {
    text-align: center;
}

.input-form input.w80per {
    width: 80%;
    margin-top: 10pt;
    font-size: 2em;
    text-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0pt !important;
}

.input-form input.w100per{
    width:100%;
    margin-top: 10pt;
    font-size: 2em;
    padding-top: 10pt;
    text-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0pt !important;
}

.carousel .input-form {
    text-align: left;
    font-size: 1em;
    text-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0pt !important;
}

.carousel h2{
    font-weight: bold;
    font-size: 1em;
}

.carousel .input-form input{
    width: 80%;
}

.Home {
    text-align: center;
    position:absolute;             /* position in the center of the screen */
    top:25%;
}

.Home h2{
    text-align: center;
    color: #003366;
    font-size: 35pt;
}

.Home h3{
    text-align: center;
    color: #003366;
    font-size: 25pt;
}

.Home h4{
    text-align: left;
    color: #003366;
    font-size: 35pt;
}

header h1{
    position: initial;
    z-index: 9;
    margin: 0;
    font-size: 3em;
    color:white;
    background-color:#0099CC;
    padding: 10pt;
    text-align: center;
}

.round-image {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    display: block;
    overflow:hidden;
    clip:rect(0pt,5em,5em,0pt);
}

.dialog {
    text-align: center;
    vertical-align: middle;
    position:absolute;
    margin: -30vw 0 0 -40vw;
    top: 50%;
    left: 50%;
    width: 80vw;
    height:40vw;
    background:#0099CC;
    border: 1pt #E0FFFF;
    z-index: 12;
    padding: 5% 0;
}

.dialog .icons {
    display: inline-block;
    padding: 10% 0;
}

.inline {
    display: inline-block;
    width: auto;
    text-align: center;
}

.dialog figcaption {
    color: #FFFFFF;
    font-size: 1em;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.hidden {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
